name: check

on:
  push:
    branches:
      - "**"
    paths:
      - ".github/workflows/check.yml"
      - "assets/**"
      - "**.py"
  pull_request:
    branches:
      - "**"
    paths:
      - ".github/workflows/check.yml"
      - "assets/**"
      - "**.py"

# PR 번호가 같은 경우 기존 작업을 취소하고 1개만 실행
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  check-resource:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # pip install maafw
      - name: Install maafw
        run: |
            python -m pip install --upgrade pip
            python -m pip install --upgrade MaaFw==5.4.2

      - name: Check Resource
        run: |
            python ./check_resource.py ./assets/resource/
